.App {
  text-align: center;
  
}

.content{
  padding-top:6em;
  max-width:1200px;
  margin: 0 auto;
  padding:6em 1em 1em 1em;
}
.toolip-right{
  float: right;
  margin-right: 2em;
  background-color: rgb(226, 58, 86);
  font-size: 1.2em
}
.map{
  height: 18em;
  width: 44%;
  float: right; 
  margin-right: 2em;
}
.batata{
  margin: 1em 18em 3em 1em;
  width: 97%;
  height: 25em
}